#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.aboutBars {
    display: flex;
    gap: 7rem;
    align-items: center;
    
    text-align: start;
}
.aboutImg img{
    width: 400px;
    border-radius: 1rem;
}
.aboutImg img:hover{
    transform: scale(101%);
}